ServicioPapa/Consola/Connected Services/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dado" nillable="true" type="tns:Dado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDado" nillable="true" type="tns:ArrayOfDado" />
  <xs:complexType name="Dado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dado" nillable="true" type="tns:Dado" />
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="DadosRestantes" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
</xs:schema>